@{
  Layout = "_Layout";
}

<h1>Welcome Connor!</h1>
<p>@Html.ActionLink("Add new bourbon", "Create", "Bourbons")</p>
<p>@Html.ActionLink("Add new brand", "Create", "Brands")</p>
<p>@Html.ActionLink("Add new distillery", "Create", "Distilleries")</p>
<p>@Html.ActionLink("See all Distilleries", "Index", "Distilleries")</p>