@{
  Layout = "_Layout";
}

<h1>Welcome Connor!</h1>
<p>@Html.ActionLink("Add new bourbon", "Create", "Bourbons", null, new { @class="button" })</p>
<p>@Html.ActionLink("Add new brand", "Create", "Brands", null, new { @class="button" })</p>
<p>@Html.ActionLink("Add new distillery", "Create", "Distilleries", null, new { @class="button" })</p>
<p>@Html.ActionLink("See all Distilleries", "Index", "Distilleries", null, new { @class="button" })</p>